{# BASE LOAD #}
{% extends 'base.html.twig' %}

{# TITLE TOP PAGE #}
{% block title %}Lycée{% endblock %}

{# CSS #}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{# BODY HOME PAGE #}
{% block body %}

<div class="container">
    <h1 class="mb-5">Teams by Ranking</h1>
    <table class="table">
        <thead>
            <tr>
                <th>FIFA RANKING</th>
                <th>Team Name</th>
                <th>Group</th>
                <th>Barrier Group</th>
            </tr>
        </thead>

        <tbody>

            {% for team in teamsByRank %}
                <tr>
                    <td>{{ team.rankFifa }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.chapeau }}</td>
                    <td>{{ team.path }}</td>
                </tr>
                {% endfor %}

        </tbody>
    </table>
</div>


<div class="container">
    <div class="row">

        <div class="col-3 d-flex flex-column">
            <h2>POT1</h2>
            {% for team in teamsPOT1 %}
                <p>{{ team.name }}</p>
            {% endfor %}
        </div>
        <div class="col-3 d-flex flex-column" >
            <h2>POT2</h2>
            {% for team in teamsPOT2 %}
                <p>{{ team.name }}</p>
            {% endfor %}
        </div>
        <div class="col-3 d-flex flex-column">
            <h2>POT3</h2>
            {% for team in teamsPOT3 %}
                <p>{{ team.name }}</p>
            {% endfor %}
        </div>
        <div class="col-3 d-flex flex-column">
            <h2>POT4</h2>
            {% for team in teamsPOT4 %}
                <p>{{ team.name }}</p>
            {% endfor %}
            <p>Barrier Team 1</p>
            <p>Barrier Team 2</p>
            <p>Barriere Team 3</p>
        </div>
    </div>  
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Teams in Barrier Group</h2>
            <ul>
                {% for team in teamsBarrer %}
                    <li>
                        {{ team.getName() }}
                        {% if team.getChapeau() == 'POT4' %}
                            <strong>(Selected for POT4)</strong>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12">
            <h2>Qualified Team joining POT4</h2>
            <ul>
                {% for team in barrierQualifier %}
                    <li>
                        {{ team.getName() }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('random_select') }}" class="btn btn-primary">Select 3 Teams for POT4</a>
            <a href="{{ path('reset_selection') }}" class="btn btn-danger">Reset Selection</a>
        </div>
    </div>
</div>


<div class="container">
 
    <div class="row">
        {% for chapeau, groupMatches in matchesByGroup %}
            <div class="col-3">
                <h3>Matches pour {{ chapeau }}</h3>
                <ul>
                    {% for match in groupMatches %}
                        <li>
                            {{ match.getTeam1().getName() }} vs {{ match.getTeam2().getName() }}
                            - <strong> Score: {{ match.getScore() }}</strong>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('generate_group_matches') }}" class="btn btn-primary">Générer les Matchs Groupe</a>
<a href="{{ path('reset_group_matches') }}" class="btn btn-danger">Réinitialiser les Matchs de Groupe</a>
        </div>
    </div>
</div>

{% endblock %}


