{# BASE LOAD #}
{% extends 'base.html.twig' %}

{# TITLE TOP PAGE #}
{% block title %}Lycée{% endblock %}

{# CSS #}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{# BODY HOME PAGE #}
{% block body %}

<div class="container">
    <h1 class="mb-5">Teams by Ranking</h1>
    <table class="table">
        <thead>
            <tr>
                <th>FIFA RANKING</th>
                <th>Team Name</th>
                <th>Chapeau</th>
            </tr>
        </thead>

        <tbody>

            {% for team in teamsByRank %}
                <tr>
                    <td>{{ team.rankFifa }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.chapeau }}</td>
                </tr>
                {% endfor %}

        </tbody>
    </table>
</div>


<div class="container">
    <div class="row">

        <div class="col-3 d-flex flex-column">
            <h2>POT1</h2>
            {% for team in teamsPOT1 %}
                <p>{{ team.name }}</p>
            {% endfor %}
        </div>
        <div class="col-3 d-flex flex-column" >
            <h2>POT2</h2>
            {% for team in teamsPOT2 %}
                <p>{{ team.name }}</p>
            {% endfor %}
        </div>
        <div class="col-3 d-flex flex-column">
            <h2>POT3</h2>
            {% for team in teamsPOT3 %}
                <p>{{ team.name }}</p>
            {% endfor %}
        </div>
        <div class="col-3 d-flex flex-column">
            <h2>POT4</h2>
            {% for team in teamsPOT4 %}
                <p>{{ team.name }}</p>
            {% endfor %}
            <p>Barrier Team 1</p>
            <p>Barrier Team 2</p>
            <p>Barriere Team 3</p>
        </div>
    </div>  
    <div class="row">
        <div class="col-12 d-flex flex-column">

            <h2>Barrier Qualifier</h2>
            {% for team in teamsBarrer %}
            <p>{{ team.name }}</p>
            {% endfor %}

        </div>
    </div>
</div>

   


{% endblock %}